html
{background-color:#fafad2;
font-family:"Times New Roman", Times, serif;}
/*cursor:url('images/cursor/miniowlcursor1.png'), auto;} /*background colour and font for the whole site*/

body
{text-align:justify;
font-size:large;} /*text: for everything except headers h1/h2/h3 etc. if you need a specific paragraph to have another alignment, use <p align="center|left|right"></p> or use a span/div tag (scroll to the bottom of this doc)*/

h1
{color:green;
text-align:center;
text-decoration:underline;}

h2
{color:green;
text-align:center;}

h3
{color:green;
text-align:center;}

h4
{color:green;}

a
{color:limegreen;} /*links appear in this colour*/

a[target="_blank"]:after
{content: " " url(images/cliparts/external.png);}


footer
{color:green;
text-align:center;
font-style:italic;
font-variant:small-caps;}


/*Styles for span & div tags*/
.navigation /*used for the navigation menu at the beginning of each page*/
{color:green;
text-align:center;}

.disclaimer /*used for the disclaimer in the footer of each page*/
{color:black;
font-size:x-small;}

.rosie /*used in span everywhere Rosie's name is!!*/
{color:#e45c8b;}

.pending /*for the list of names in Online Statement Form after "statement pending"*/
{color:#ffffe0;
font-style:italic;}

.tilde /*for the credits page*/
{color:green;}

.visitors /*for smallcapping the "visitors" text in the index page*/
{font-variant:small-caps;}

.antborder /*for left borders in the tables in the staff page*/
{border-left:1px dotted;
padding-left:5px;}


/*Styles for JavaScript fun stuff*/
.dark /*Puts the page in dark mode when you click on the Dark ad in the thank you page*/
{background-color:black;
color:white;
margin:0;}